{% extends "base.html" %}
{% load iam_custom_tags %}
{% block breadcrumb %}
<section class="row mar_lr">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>EC2</li>
  </ol>
</section>
{% endblock %}
{% block base %}
<section class="main_container row mar_lr">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1 form_container">
    <div class="panel panel-default user_list_panel">
      <form method="post" id="instances_form" action="{% url 'ec2_instances_list' %}">
        {% csrf_token %}
        <div class="panel-heading">
          <h3 class="panel-title">EC2 Instances
            <span class="pull-right region_select">
            <select class="form-control" data-placeholder="Region" id="region" name="region">
            <option value="us-west-2" {% ifequal region "us-west-2" %}selected{% endifequal %}>US West (Oregon)</option>
            <option value="us-east-1" {% ifequal region "us-east-1" %}selected{% endifequal %}>US East (N. Virginia)</option>
            <option value="us-west-1" {% ifequal region "us-west-1" %}selected{% endifequal %}>US West (N. California)</option>
            <option value="eu-west-1" {% ifequal region "eu-west-1" %}selected{% endifequal %}>EU (Ireland)</option>
            <option value="eu-central-1" {% ifequal region "eu-central-1" %}selected{% endifequal %}>EU (Frankfurt)</option>
            <option value="ap-southeast-1" {% ifequal region "ap-southeast-1" %}selected{% endifequal %}>Asia Pacific (Singapore)</option>
            <option value="ap-southeast-2" {% ifequal region "ap-southeast-2" %}selected{% endifequal %}>Asia Pacific (Sydney)</option>
            <option value="ap-northeast-1" {% ifequal region "ap-northeast-1" %}selected{% endifequal %}>Asia Pacific (Tokyo)</option>
            <option value="sa-east-1" {% ifequal region "sa-east-1" %}selected{% endifequal %}>South America (São Paulo)</option>
            </select>
            </span>
          </h3>
        </div>
        <div class="panel-body">
          {% if instances %}
          <table class="table table-hover table-bordered iam-list" id="dev-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Instance Status</th>
                <th>Launch Time</th>
                <th class="text-center">Actions</th>
                <th class="text-center">Detail</th>
              </tr>
            </thead>
            <tbody>
              {% for instance in instances %}
              {% for i in instance.Instances %}
              {% if not i.State.Name == "terminated" %}
              <tr>
                <td>{{ i.KeyName }}</td>
                <td>{{i.State.Name|capfirst}}</td>
                <td>{{ i.LaunchTime }}</td>
                <td class="actions text-center">
                  {% if not i.State.Name == "running" %}
                  <a href="{% url 'change_instance_status' i.InstanceId region %}?action=start" class="start" data-toggle="tooltip" data-placement="top" title="Start Instance"><i class="fa fa-play"></i></a>
                  {% endif %}
                  {% if not i.State.Name == "stopped" %}
                  <a href="{% url 'change_instance_status' i.InstanceId region %}?action=stop" class="stop"  data-toggle="tooltip" data-placement="top" title="Stop Instance"><i class="fa fa-stop"></i></a>
                  {% endif %}
                  {% if i.State.Name == "stopped" or i.State.Name == "running"  %}
                  <a href="{% url 'change_instance_status' i.InstanceId region  %}?action=terminate" class="terminate"  data-toggle="tooltip" data-placement="top" title="Terminate Instance"><i class="fa fa-times"></i></a>
                  {% endif %}
                </td>
                <td class="actions" align="center"><a href="{% url 'instance_detail' i.InstanceId region %}"><i class="fa fa-eye"></i></a>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p class="text-center no_policies">No Instances Available in this region.</p>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
  $("#region").change(function(e){
  	$("#instances_form").submit()
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
{% endblock %}