{% extends "base.html" %}
{% load iam_custom_tags %}
{% block base %}
<div class="container_block settings">
  <div class="row form_row">
    <div class="col-md-offset-3 col-md-6 col-ms-offset-3 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 gradient_panel iam_user_div">
      <form role="form" class="col-md-12 go-right" id="add_iam_user_form" method="post">
        {% csrf_token %}
        <h2 class="title">IAM User</h2>
        <div class="form-group" id="username">
          <input name="username" type="text" class="form-control">
          <label for="name">UserName</label>
        </div>
        <div class="form-group checkbox checkbox_block text-left">
          <div class="col-md-1 col-xs-1 text-left"><input type="checkbox" name="iam_user_password" id="iam_user_password"></div>
          <div class="col-md-11 col-xs-11">
            <span>Create Password for IAM User</span>
          </div>
        </div>
        <div class="form-group iam_user_pwd" id="password" style="display:none;">
          <input  name="password" type="password" class="form-control">
          <label for="name">Password</label>
        </div>
        <div class="form-group checkbox checkbox_block text-left">
          <div class="col-md-1 col-xs-1 text-left"><input type="checkbox" name="generate_keys"></div>
          <div class="col-md-11 col-xs-11">
            <span>Generate an access key for user</span>
            <p>Users need access keys to make secure REST or Query protocol requests to AWS service APIs.</p>
          </div>
        </div>
        <!--<div class="form-group checkbox checkbox_block text-left">
          <div class="col-md-1 col-xs-1 text-left"><input type="checkbox" class="ec2_checkbox" name="ec2" value="ec2"></div>
          <div class="col-md-11 col-xs-11">
          <span>EC2</span>
          </div>
          </div>
          
          <div class="form-group checkbox checkbox_block text-left">
          <div class="col-md-1 col-xs-1 text-left"><input type="checkbox" name="rds" class="rds_checkbox" value="rds"></div>
          <div class="col-md-11 col-xs-11">
          <span>RDS</span>
          </div>
          </div>
          
          <div class="form-group checkbox checkbox_block text-left">
          <div class="col-md-1 col-xs-1 text-left"><input type="checkbox" name="s3" class="s3_checkbox" value="s3"></div>
          <div class="col-md-11 col-xs-11">
          <span>S3</span>
          </div>
          </div>-->
        <div class="form-group policy" id="policy_name" style="display:none;">
          <input type="text" name="policy_name" class="form-control">
          <label for="name">Policy Name</label>
        </div>
        <div class="form-group" id="ec2_div" style="display:none;">
          <select name="ec2_instances" class="form-control">
            <option>Please select option</option>
            {% for instance in response_inst %}
            {% for i in instance.Instances %}
            <option value="{{ i.KeyName }}">{{ i.KeyName }}</option>
            {% endfor %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group" id="s3_div" style="display:none;">
          <select name="s3_buckets" class="form-control">
            <option>Please select option</option>
            {% for bucket in response_buckets %}
            <option>{{ bucket.Name }}</option>
            {% endfor %}
            <label for="name">S3 buckets</label>
          </select>
        </div>
        <div class="form-group" id="rds_div" style="display:none;">
          <select name="rds" class="form-control">
            {% for instance in response_inst %}
            <option>Please select option</option>
            {% endfor %}
            <label for="name">RDS</label>
          </select>
        </div>
        <p id="error"></p>
        <div class="row btn_row">
          <div class="col-xs-6 col-md-6"><button class="btn btn-success btn-block btn-lg add_iam_user" type="submit">Create</button></div>
        </div>
      </form>
    </div>
    <div class="col-md-offset-3 col-md-6 col-ms-offset-3 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 gradient_panel download_iam_user_details" style="display:none;">
      <form role="form" class="col-md-12 go-right" action="{% url "iam_user_details_download" %}" id="download_iam_users" method="post">
        {% csrf_token %}
        <h2 class="title">IAM User</h2>
        <div class="form-group">
          <input name="download_username" id="download_username" type="text" class="form-control" value="">
          <label for="name">UserName</label>
        </div>
        <div class="form-group">
          <input name="download_access_key" id="download_access_key" type="text" class="form-control" value="">
          <label for="name">Access Key</label>
        </div>
        <div class="form-group">
          <input name="download_secret_key" id="download_secret_key" type="text" class="form-control" value="">
          <label for="name">Secret Key</label>
        </div>
        <p id="error"></p>
        <div class="row btn_row">
          <div class="col-xs-6 col-md-6"><button class="btn btn-success btn-block btn-lg download_credentials">Download</button></div>
          <div class="col-xs-6 col-md-6"><button class="btn btn-success btn-block btn-lg next_button">Next</button></div>

        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  is_downloaded = false
  $(".next_button").click(function(e){
    e.preventDefault();
    if (is_downloaded){
      window.location = "{% url 'iam_users_list' %}";
    }
    else{
      if(confirm("You want to Continue without downloading ?")){
         window.location = "{% url 'iam_users_list' %}";
        }
      else{
          return
        }
    }
  })
  $('#iam_user_password').change(function () {
      if ($(this).is(":checked")) {
        $(".iam_user_pwd").show()
      }
      else{
        $(".iam_user_pwd").hide()
      }
  });
  $(".download_credentials").click(function(e){
    is_downloaded = true
    $("#download_iam_users").submit();
  })
        $('#add_iam_user_form').submit(function(e) {
          e.preventDefault();
          $.post('{% url "add_iam_user" %}', $('#add_iam_user_form').serialize(), function(data) {
            if (data.error){
              $("p.error").remove();
              if (data.response) {
              $('#error').after('<p class="error">' + data.response + '</p>');
            }
            if (data.message){
              alert(data.message)
            }
            }
            else{
              console.log(data.iam_access_key)
              console.log(data.iam_secret_key)
              $(".iam_user_div").hide()
              $(".download_iam_user_details").show()
              $("#download_username").val(data.iam_username)
              $("#download_access_key").val(data.iam_access_key)
              $("#download_secret_key").val(data.iam_secret_key)
            }
          },"json");
        });
        $(".ec2_checkbox").change(function(e){
          e.preventDefault();
          if ($(".ec2_checkbox").val() == "ec2"){
          $("#ec2_div").show()
        }
      });
        $(".s3_checkbox").change(function(e){
          e.preventDefault();

        if ($(".s3_checkbox").val() == "s3"){
          $("#s3_div").show()
        }
      });
        $(".rds_checkbox").change(function(e){
          e.preventDefault();
        if ($(".rds_checkbox").val() == "rds"){
          $("#rds_div").show()
        }
        });

   $(".ec2_checkbox").change(function(e){
          e.preventDefault();
          if ($(".ec2_checkbox").val() == "ec2"){
          $(".policy").show()
        }
      });
        
</script>
{% endblock %}
</html>