{% extends "base.html" %}
{% load iam_custom_tags %}
{% block breadcrumb %}
<section class="row mar_lr">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'iam_users_list' %}">Users</a></li>
    <li><a href="{% url 'iam_user_detail' user_name %}">{{user_name}}</a></li>
    <li>Change Password</li>
  </ol>
</section>
{% endblock%}
{% block base %}
<section class="main_container row mar_lr">
  <div class="col-md-offset-3 col-md-6 col-md-offset-3 form_container">
    <div class="panel panel-default iam_user_div">
      <div class="panel-heading">
        <h3 class="panel-title">Change Password</h3>
      </div>
      <div class="panel-body">
        <form role="form" class="form_block" id="iam_user_change_pwd_form" method="post">
          {% csrf_token %}
          <div class="form-group" id="new_pwd">
            <input name="new_pwd" type="password" class="form-control" placeholder="New Password">
          </div>
          <div class="form-group" id="confirm_pwd">
            <input name="confirm_pwd" type="password" class="form-control" placeholder="Confirm Password">
          </div>
         
          <p id="error"></p>
          <button type="submit" class="btn btn-default save">Save</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
      $(document).ready(function(){
      $('#iam_user_change_pwd_form').submit(function(e) {
        e.preventDefault();
        $.post('.', $('#iam_user_change_pwd_form').serialize(), function(data) {
          if (data.error){
            $("p.error").remove();
            if (data.response){
            $('#error').after('<p class="error form_hint">' + data.response + '</p>');
          }
          if (data.message){
          	alert(data.message)
          }
          }
          else{
            window.location = "{% url 'iam_users_list' %}"
          }
        },"json");
      });
      });
      </script>
      {% endblock %}
