{% extends "base.html" %}
{% load iam_custom_tags %}
{% block breadcrumb %}
<section class="row mar_lr">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'iam_users_list' %}">Users</a></li>
      <li>{{response.UserName}}</li>
    </ol>
</section>
{% endblock%}
{% block base %}
<section class="main_container row mar_lr">
      <div class="col-md-12 form_container">
        <div class="panel panel-default user_list_panel">
          <div class="panel-heading">
            <h3 class="panel-title">Swetha Naretla</h3>
          </div>
          <div class="panel-body">
            <div class="row ">
            <div class="profile_details">
              <div class="col-md-3">
              <div class="profile_block">
                <strong>Username :</strong>
                <span>{{response.UserName}}</span>
              </div>
              </div>
               <div class="col-md-3">
              <div class="profile_block ">
                <strong>Created date :</strong>
                <span>{{response.CreateDate}}</span>
              </div>
              </div>
               <div class="col-md-3">
              <div class="profile_block ">
                <strong>Password :</strong>
                <span><a href="{% url 'iam_user_change_password' user_name %}">Change password</a></span>
              </div>
              </div>
               <div class="col-md-3">
              <div class="profile_block ">
                <strong>User ARN :</strong>
                <span>{{response.Arn}}</span>
              </div>
              </div>
               <div class="col-md-3">
              <div class="profile_block ">
                <strong>Access Key :</strong>
                <span>{% if user_access_keys %}{% for user_access_key in user_access_keys %}{% if user_access_key.AccessKeyId %}{{ user_access_key.AccessKeyId }}{% endif %}{% endfor %}{% else %}<span><a class="attach_policy" href="{% url 'iam_user_detail' user_name %}?generate_keys=True">Generate Keys</a></span>{% endif %}</span>
              </div>
              </div>
               <div class="col-md-3">
              <div class="profile_block ">
                <strong>Status :</strong>
                 <span>{% if user_access_keys %}{% for user_access_key in user_access_keys %}{% if user_access_key.Status %}Active{% endif %}{% endfor %}{% else %}InActive{% endif %}</span>
              </div>
              </div>
               <div class="col-md-3">
              <div class="profile_block ">
                <strong>Policies :</strong>
                <span><a href="{% url 'policies_list' user_name %}">Attach Policy</a></span>
              </div>
              </div>
            </div>
            </div>
            <br clear="all">
            {% if user_policies %}
             <div class="row mar_lr user_policy_table">
              <div class="table-responsive">
                <table class="table table-hover table-bordered user-policy-list iam-list" id="dev-table">
                    <thead>
                      <tr>
                        <th>Policy Name</th>
                        <th>Policy ARN</th>
                        <th align="center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in user_policies %}
                      <tr>
                        <td>{{ p.PolicyName }}</td>
                        <td>{{ p.PolicyArn }}</td>
                        <td class="actions" align="center"><a href="{% url 'detach_user_policies' user_name %}?policy_arn={{p.PolicyArn}}" class="delete"><i class="fa fa-trash"></i></a></td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
{% endblock%}