@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)) !important;
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding: 25px;
    padding: 14px;
    text-align: center;
    align: center !important;
    width: 38%;
    margin-top: 120px;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}
h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}
.form-control {
    border-radius: 10px;
}
.wrapper {
    text-align: center;
}
/* Credit to bootsnipp.com for the css for the color graph */

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
body {
    background: #f0f0f0;
}
.nav {
    top: 40px;
    position: absolute;
    right: 20px;
}
.nav>li>a:hover,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: #fff;
}
.dropdown {
    background: #fff;
    border: none;
    border-radius: 0px;
    width: 300px;
}
.dropdown-menu>li>a {
    color: #428bca;
}
.dropdown ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    width: 300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.row {
    margin: 0;
    width: 100%;
}
.clickable {
    cursor: pointer;
}
.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span {
    margin-left: 5px;
}
.users_list {
    width: 100%;
}
.cont1 {
    width: 73%;
}
.user-row {
    margin-bottom: 14px;
}
.user-row:last-child {
    margin-bottom: 0;
}
.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}
.dropdown-user:hover {
    cursor: pointer;
}
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad {
    margin-top: 20px;
}
.user_detail {
    
}
.nav{
    z-index:99999;
}
.form_row {
    margin-top: 0;
}
.title {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}
.form_row .form-control {
    border-radius: 0;
    background: white;
    height: 45px;
    border: none;
}
.btn_row {
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-right: 0px;
}
.btn_col {
    padding: 0;
}
.btn_row button {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.iam-list tr th{
    font-size: 13px;
}
.iam-list tr td{
    color: #666;
    font-size: 13px;
    padding: 10px 10px !Important;
}
.iam-list thead tr th{
    background:#ddd;
}
.iam-list tr td a{
    display: inline-block;
    background:#307454;
    color:#fff;
    font-size: 13px;
    border-radius: 2px;
    text-align: center;
    padding-top: 7px;
    width: 25px;
    height:25px;
}
.users_list .panel .panel-heading{
    background:#333;
    border-radius:0;
}
.iam-list tr td:last-child{
    border-radius:0;
    }
    .checkbox_block{
        color:#fff;
    }
   
    .checkbox_block  input[type=checkbox]{
        position: absolute;
        margin-top: 4px\9;
        margin-left: 0 !important;
        width: 30px;
        font-size: 27px;
        height: 22px;
    }
    .policy_table input[type=checkbox]{
        width: 25px;
        font-size: 27px;
        height: 20px;
    }
    .iam_detail_table{
        font-size: 13px;
        color:#666;
    }
    .iam_detail_table tr td{
        padding:10px 10px;
    }
    .mar_auto{
        margin:0px auto;
    }
    .user_det_top{
        margin-top:120px;
    }
    .user_det_top .panel{
        padding:0;
    }

    /* custom */
    .container_block{
        width:1170px;
        padding: 15px;
        text-align: center;
    }
    .gradient_panel{
        background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
        border: 1px solid #518581;
    }
    .mar_auto{
        margin:0px auto;
    }
    .iam_user_list{
        margin-top:120px;
    }
.settings {
    margin:0px auto;
    margin-top: 120px;
}
.user_detail .panel-heading{
    background:#333;
}
.user_detail .panel-heading .panel-title{
    color:#fff;
}
.form_hint{
    color: white;
}
.user-policy-list{
    font-size: 13px;
    margin-top:12px;
}
.user-policy-list thead tr td{
    background: #999;
    color:white;
}
.user-policy-list tbody tr td.actions a{
    color:white;
    display: inline-block;
    background: #EA5557;
    padding-top:6px;
    text-align: center;
    width: 25px;
    height: 25px;
}
.attach_policy{
    color:white;
    display: inline-block;
    background: #46ab8d;
    padding:5px 10px;
    text-align: center;
    border-radius: 5px;
}
.attach_policy:hover{
    color:white;
    text-decoration: none;
}
.policies{
height: 450px;
overflow-y: scroll;
}