{% extends "base.html" %}
{% load iam_custom_tags %}
{% block breadcrumb %}
<section class="row mar_lr">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="#">Email-Addresses</a></li>
  </ol>
</section>
{% endblock %}
{% block base %}
<section class="main_container row mar_lr">
  <div class="col-md-offset-1 col-md-10 col-md-offset-1 form_container">
    <div class="panel panel-default user_list_panel">
      <form method="post" id="email_adresses_form" action="{% url 'emails_list' %}">
        {% csrf_token %}
        <div class="panel-heading">
          <h3 class="panel-title">Emails
           <span class="add_btn pull-right" data-toggle="modal" data-target="#myModal"><a href="#"><i class="fa fa-plus"></i></a></span>
            <span class="pull-right region_select email_adresses">
            <select class="form-control" data-placeholder="Region" id="region" name="region">
            {% for k,v in regions %}
            {% if k == "us-west-2" or k == "us-east-1" or k == "eu-west-1" %}
              <option value="{{k}}" {% ifequal selected_region k %}selected{% endifequal %}>{{v}}</option>
            {% endif %}
            {% endfor %}
            </select>
            </span>
            <!--<form method="post" action="{% url 'emails_list' %}" id="filter_email_status">{% csrf_token %}
            <span class="pull-right region_select email_status">
            <select class="form-control" data-placeholder="Status" id="status" name="status">
            <option value="success">Success</option>
            <option value="pending">Pending</option>
            </select>
            </span>
            </form>-->
          </h3>
        </div>
        <div class="panel-body">
          {% if response %}
          <table class="table table-hover table-bordered iam-list" id="dev-table">
            <thead>
              <tr>
                <th></th>
                <th class="text-center">Sender: Email</th>
                <th class="text-center">Status</th>
                <th class="text-center">Details</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in response.items %}
              <tr>
                <td align="center"><a class="open_table"><i class="fa fa-caret-down"></i></a></td>
                <td class="text-center">{{ key }}</td>
                {% for key,value in value.items %}
                <td class="text-center" {% if value == "Success" %} style="color: #090;"{% else %}style="color: #e47911;" {% endif %}>{{value}}{% endfor%}</td>

                <td class="actions" align="center">
                <a href="{% url 'send_email' selected_region %}?identity={{key}}" data-toggle="tooltip" data-placement="top" title="Send Email"><i class="fa fa-envelope" aria-hidden="true"></i></a> 
                <a data-region="{{selected_region}}" data-toggle="modal" data="{{key}}" data-target="#deleteIdentityModal" class="delete delete_identity"><i class="fa fa-trash"></i></a></td>
              </tr>
              {% for k, v in notifications.items %}
              <tr  class="content_block">
                <td colspan="5">
                   <div class="row mar_lr">
                      <div class="content_left col-md-6">
                      {% for notification, val in v.items %}
                        <ul>
                          {% if notification == "ForwardingEnabled" %}
                          <li><strong>Email Feedback Forwarding: </strong>Enabled</li>
                          {% endif %}
                          {% if notification == "BounceTopic" %}
                          <li><strong>Bounce Notifications SNS Topic: </strong>True</li>
                          {% else %}
                          <li><strong>Bounce Notifications SNS Topic: </strong>None</li>
                          {% endif %}
                        </ul>
                      {% endfor %}
                      </div>

                      <div class="content_right col-md-6">
                      {% for notification, val in v.items %}
                        <ul>
                          {% if notification == "DeliveryTopic" %}
                          <li><strong>Delivery Notifications SNS Topic: </strong>True</li>
                          {% else %}
                          <li><strong>Delivery Notifications SNS Topic: </strong>None</li>
                          {% endif %}
                          {% if notification == "ComplaintTopic" %}
                          <li><strong>Complaint Notifications SNS Topic: </strong>True</li>
                          {% else %}
                          <li><strong>Complaint Notifications SNS Topic: </strong>None</li>
                          {% endif %}
                        </ul>
                      {% endfor %}
                      </div>
                   </div> 
                </td>
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p class="text-center no_policies">No Email Addresses Available in this region.</p>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  <div id="deleteIdentityModal" class="modal fade" role="dialog">
    <div class="modal-dialog form_container">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Identity</h4>
        </div>
        <form role="form" class="form_block" id="delete_identity_form" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <span class="text alert_text">Are you sure you want to delete</span>
              <p class="confirm_text">Type Email to confirm deletion:</p>
              <input type="text" class="form-control" value="" name="identity_email" id="identity_email">
              <input type="hidden" name="url_val" id="url_val" value="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default save delete_identity_confirm">Yes, Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
   <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog form_container">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Verify a New Email Address</h4>
        </div>
        <form role="form" class="form_block" id="add_new_email" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" name="email" id="email">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default next_button save">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(".delete_identity").click(function(e){
     e.preventDefault();
     a = $(this).attr("data")
     region = $(this).attr("data-region")
     url = "{% url 'delete_identity' 1 2 %}".replace("2", region)
     url = url.replace("1", a)
     $("#url_val").val(url)
     $(".text").html("Are you sure you want to delete <strong>"+a+"</strong>")
   })

   
  $("#region").change(function(e){
  	$("#email_adresses_form").submit()
  });
  $('.next_button').click(function(e) {
    e.preventDefault()
   $.post('{% url "add_new_email_adress" selected_region %}', $('#add_new_email').serialize(), function(data) {
     if (data.error){
       $("p.error").remove();
       for (var key in data.response) {
     $('#' + key).after('<p class="error">' + data.response[key] + '</p>');
   }
   if(data.message){
    $('#email').after('<p class="error">' + data.message + '</p>');
   }
     }
     else{
       window.location = '{% url "emails_list" %}'
     }
   },"json");
 });
  $('.delete_identity_confirm').click(function(e) {
    e.preventDefault();
    url = $('#delete_identity_form').find('input[name="url_val"]').val()
    $.post(url, $('#delete_identity_form').serialize(), function(data) {
        if (data.error){
           $("p.error").remove();
          
         if (data.message){
          $('#identity_email').after('<p class="error">' + data.message + '</p>');
        }
        }
        else{
           window.location = '{% url "emails_list" %}'
         }
       },"json");
  });
  $(document).ready(function(){
      $('.content_block').hide();
      $('.open_table').click(function(){
        var nxt_tr = $(this).parent().parent().next();
        nxt_tr.toggle();
        $('.content_block').not(nxt_tr).hide();
        if($(this).children('i').hasClass('fa-caret-down')){
          $(this).children('i').removeClass('fa-caret-down').addClass('fa-caret-up');
        }
        else{
          $(this).children('i').removeClass('fa-caret-up').addClass('fa-caret-down');
        }
      })
    });
</script>
{% endblock %}