{% extends "base.html" %}
{% load iam_custom_tags %}
{% block base %}
<div class="container_block iam_user_list mar_auto">
	<div class="row form_row" >
		<div class="col-md-12 users_list">
			<div class="panel panel-primary policies_panel">
				<div class="panel-heading">Simple Email Service</h3>
				</div>
                <form action="{% url 'send_email' '' %}" method="post" enctype='multipart/form-data'>{% csrf_token %}

			<div class="table-responsive policies">
                <br/>From: <select name='source'>
                    {% for verified_email_address in verified_email_addresses %}
                    <option value='{{ verified_email_address }}'>{{ verified_email_address }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;To: <select name='destinations'>
                    {% for verified_email_address in verified_email_addresses %}
                    <option value='{{ verified_email_address }}'>{{ verified_email_address }}</option>
                    {% endfor %}
                </select>
                <br/><br/>Region Name: <input type='text' name='region_name'/> 
                <br/><br/>Subject: <input name='subject' type='text'/>
                <br/><br/>body: <input name='body' type='textarea'/>
                <br/><br/>Attachment: <input name='attachment' type='file' />
			</div>
			<div class="row btn_row">
				<div class="col-xs-6 col-md-2 pull-right"><button class="btn btn-success" type="submit">Send</button></div>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
