<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IAM Manager</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="https://select2.github.io/dist/css/select2.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/chosen.css">
    <link type="text/css" href="{{STATIC_URL}}css/style.css" rel="stylesheet">
  </head>
  <body class="base-bg">
  <header class="row mar_lr">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#"><span>IAM</span> Manager</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="link1" href="{% url 'ec2_instances_list' %}">EC2</a></li>
            <li><a class="link2" href="{% url 's3_buckets_list' %}">S3</a></li>
            <li><a class="link3" href="{% url 'iam_users_list' %}">Users</a></li>
            <li><a class="link4" href="#">SNS</a></li>
            <li><a class="link5" href="{% url 'emails_list' %}">SES</a></li>
            <li><a class="link6" href="#">CloudFront</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/">{{request.session.client_username}}</a>
            </li>
            <li class="logout_btn">
              <a href="{% url 'user_logout' %}" class="logout"><i class="fa fa-sign-out"></i></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </header>
    {% block breadcrumb %}
    {% endblock %}

    {% block base %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
    <script type="text/javascript">
    $(".delete_confirmation").click(function(e){
        e.preventDefault();
        if(confirm("You want to delete this?")){
          window.location = $(this).attr("data-href")
        }
        else{
          return
        }
      })
      $ = jQuery
      $(document).ready(function(){
        var pathname = window.location.pathname;
        ul = $('.navbar-collapse').children()[0]
        li = $(ul).children()
        $.each($(li), function(i, field){ 
          if(pathname == $(this).children().attr('href')){
            $(this).addClass("active")
          }
        });
     });
</script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>