<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IAM Manager</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="{{STATIC_URL}}css/style.css" rel="stylesheet">
  </head>
  <body class="login-bg">
      <div class="row mar_lr">
          <div class="container">
              <div class="row login-container">
              <div class="logo-name text-center"><span>IAM</span> Manager</div>
              <div class="col-md-offset-2 col-md-8 col-md-offset-2 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 login-block">
                <div class="login-title">Sign In</div>
                  <form id="login-form" class="loginform" method="post" role="form">{% csrf_token %}
                      <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <input type="text" id="access_key" name="access_key" class="form-control" placeholder="Access Key">
                      </div>
                      <div class="form-group">
                        <input type="text" name="secret_key" id="secret_key" class="form-control"  placeholder="Secret Key">
                      </div>
                      <button type="submit" class="btn btn-default">Login to your Account</button>
                  </form>
                  </div>
              </div>
          </div>
      </div>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
      $('.loginform').submit(function(e) {
        e.preventDefault();
        $.post('.', $('.loginform').serialize(), function(data) {
          if (data.error){
            $("p.error").remove();
            $('#secret_key').after('<p class="error">' + data.response + '</p>');
          }
          else{
            window.location = "{% url 'home' %}"
          }
        },"json");
      });

  });
      </script>
</html>